body, html {
    height: 100%;
    margin: 0;
    background-image: url("bank.png");
    background-size: 100% 100%; /* Menyesuaikan gambar agar mencakup seluruh area background */
    background-position: center; /* Posisi gambar latar belakang di tengah */
}


.container {
    backdrop-filter: blur(20px);
    position: absolute; /* Mengubah posisi menjadi absolut */
    top: 50%; /* Menggeser container ke tengah vertikal */
    left: 50%; /* Menggeser container ke tengah horizontal */
    transform: translate(-50%, -50%); /* Menggeser kembali setengah dari ukuran container */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px; /* Menetapkan maksimum lebar container */
    width: 50%; /* Menetapkan lebar container */
    height: 50%; /* Menetapkan tinggi container */
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}



.button-container {
    display: flex;
    
}

.button-container button {
    margin: 0 5px; /* Mengatur jarak antara tombol */
    width: 150px; /* Menetapkan lebar tombol */
    height: 50px; /* Menetapkan tinggi tombol */
    font-size: 18px; /* Mengatur ukuran font tombol */
    border-radius: 10px; /* Mengatur sudut membulat */
    background-color: blue; /* Memberi warna biru pada latar belakang */
    color: white; /* Mengatur warna teks menjadi putih */
    border: none; /* Menghapus border */
}

